.App {
  font-size: 16px;
  font-family: Poppins;
  box-sizing: border-box;
}
.input-field {
  height: 2.5rem;
  width: 50%;
  border-radius: 5px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.input-field:focus {
  outline: none;
}
.input-field::placeholder {
  color: #000;
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
  padding-left: 0.5rem;
}
.slide-bannerTextHeader {
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextHeader 0.8s ease-in-out 0.8s forwards;
}
.slide-bannerTextSubtext {
  opacity: 0;
  transform: translateX(500px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextSubtext 0.9s ease-in-out 0.9s forwards;
}
.slide-bannerTextButton {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextButton 1s ease-in-out 1s forwards;
}

@keyframes slideInbannerTextHeader {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInbannerTextSubtext {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInbannerTextButton {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.css-i4bv87-MuiSvgIcon-root {
  fill: rgb(15, 15, 15);
}

.auth-inputfield {
  width: 100%;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
  color: #000;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.auth-inputfield-button {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  background-color: black;
  box-shadow: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: none;
  outline: none;
  border: 0; 
  cursor: pointer;
}

.auth-inputfield:focus {
  /* border: 0; */
  outline: none;
}

.auth-inputfield,
.auth-inputfield-button {
  box-sizing: border-box;
}
