.App {
  font-size: 16px;
  font-family: Poppins;
  box-sizing: border-box;
}
.input-field {
  height: 2.5rem;
  width: 50%;
  border-radius: 5px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.input-field:focus {
  outline: none;
}
.input-field::placeholder {
  color: #000;
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
  padding-left: 0.5rem;
}
.slide-bannerTextHeader {
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextHeader 0.8s ease-in-out 0.8s forwards;
}
.slide-bannerTextSubtext {
  opacity: 0;
  transform: translateX(500px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextSubtext 0.9s ease-in-out 0.9s forwards;
}
.slide-bannerTextButton {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextButton 1s ease-in-out 1s forwards;
}

@keyframes slideInbannerTextHeader {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInbannerTextSubtext {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInbannerTextButton {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* LOADER */
.spin {
  animation: "loader 1s linear infinite";
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.css-i4bv87-MuiSvgIcon-root {
  fill: rgb(15, 15, 15);
}

.auth-inputfield {
  width: 100%;
  height: 3rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
  color: #000;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.auth-inputfieldzipcdp {
  width: 100%;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
  color: #000;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.auth-inputfieldzippayment {
  width: 50%;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
  color: #000;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.auth-inputfield-button {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  background-color: black;
  box-shadow: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

.auth-inputfield:focus,
.auth-inputfieldzipcdp:focus,
.auth-inputfieldzippayment:focus {
  /* border: 0; */
  outline: none;
}

.auth-inputfield,
.auth-inputfield-button,
.auth-inputfieldzipcdp,
.auth-inputfieldzippayment {
  box-sizing: border-box;
}

.auth-zipcodeinputfild {
  display: flex;
  gap: 3rem;
  width: 100%;
}

/* .remeberCard {
  /* background-color: black; */
/* } */

input[type="checkbox"] {
  accent-color: black;
}
.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 1.3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: -0.2rem;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.5rem);
  -ms-transform: translateX(2.5rem);
  transform: translateX(2.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  margin-left: 10px;
}
